{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>{% block title %}Customer{% endblock %}</title>

<style>
   *
   {
    font-family: Georgia;
   }
   .modal-content {
  background-color: lightcyan;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h4 {
  margin-top: 0;
  color: #333;
  /* font-family: Tahoma, Arial, sans-serif; */
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.btn-primary:hover {
    color: #fff;
    background-color: white;
    border-color: white;
}

</style>
<style type="text/css">
  .select-style{
    border-radius: 0.25rem;
    border-color: black;
  }
  .form-control{
    border-radius: 0.25rem;
    border-color: black;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: white;
    border-color: white;
}


</style>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>




<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb  mb-3">
            <div class="breadcrumb-title pe-3">Brands Info</div>
            <hr>
                <div class="d-grid gap-2  justify-content-md-end" style="margin-right: 50px;">
                    <button class="btn btn-primary me-md-2" style="background-color:mediumaquamarine;" id="myBtn"  type="button"><i class="fa fa-plus" ></i>&nbsp;Create Brand</button>
                    <!-- <button class="btn btn-primary me-md-2" id=""  type="button" src =><i class="fa fa-plus" ></i>&nbsp;Export PDF</button> -->
                    {% comment %} <a href="{% url 'pdf_export' %}" class="btn btn-primary">Export PDF</a> {% endcomment %}

                </div>
                <!-- create -->
                <div id="myModal" class="modal">



                    
                    <div class="modal-content">
                        <!-- <span class="close text-end mb-2" onclick="this.parentNode.style.display = 'none'; return false;" style="float: right; font-size: 20px; color:#00569d; cursor: pointer;">✕</span> -->
                      
                        <div class="panel panel-default">
                            
                            <div class="panel-heading" style="color:black; background-color:mediumaquamarine;text-align:center;"><h4 style="color:white ;">Create Brand</h4></div>
                                <hr style="color:black">
                                 <form method="POST"  id="profile-form1">
                                    {% csrf_token %}
                                    <div class="panel-body text-center" >
                                        
                                            <div class="row ">

                                                <!-- <div class="col-md-12"> -->

                                                
                                                    <div class="col-md-3"></div>
                                                        <div class="col-md-6" >
                                                            <div class="form-group mb-3">
                                                                <label style="color:black ;">Brand Name<span style="color: red;">*</span></label>
                                                                <div class="input-group mb-4">
                                                                     <input type="name" name="brand_name" minlength="" class="form-control" id="brand_name" placeholder="Enter Brand Name" maxlength="" oninput="this.value = this.value.replace(/[^a-z A-z]/g, '');" style="width:200px;padding:6px;" required="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                <!-- </div> -->
                                                <!-- <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label style="color:black ;">Sub Brand<span style="color: red;">*</span></label>
                                                        <div class="input-group mb-4">
                                                            <input style="color: black;" width="50" type="text" min="0" placeholder="Enter Sub brand"
                                                                name="sub_brand" id="" class="form-control" maxlength="" value=""
                                                                required="">
                                                        </div>
                                                    </div>
                                                </div>  -->
                                                <!-- <div class="d-grid gap-2 col-sm-6 ">
                                                    <div class="form-group mb-3">
                                                        <label style="color:black ;">Pages Per Form<span style="color: red;">*</span></label>
                                                        <div class="input-group mb-4">
                                                            <input style="color: black;" width="50" type="text" min="0" placeholder="Enter Pages Per Form"
                                                                name="pages_per_form" id="pages_per_form" class="form-control" maxlength="" value=""
                                                                required="" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-grid gap-2 col-sm-6">  
                                                <div class="form-group mb-3">
                                                  <label style="color:black ;">Brand Size<span style="color: red;">*</span></label>
                                                  <div class="input-group mb-4">
                                                      <input style="color: black;" width="50" type="text" min="0" placeholder="Enter Brand Size"
                                                          name="brand_size" id="" class="form-control" maxlength="" value=""
                                                          required="">
                                                  </div>
                                                </div>
                                              </div> -->
                                                {% comment %} <div class="d-grid gap-2 col-sm-6">
                                                    <div class="form-group mb-3">
                                                        <label style="color:black ;">Course Duration<span style="color: red;">*</span></label>
                                                        <div class="input-group mb-4" >
                                                            <select name="cource_duration" class="select-style" style="width:200px;padding:8px;" required="">
                                                                  <option value="">Select</option>
                                                                  <option  value="1 Month">1 Month</option>
                                                                  <option  value="2 Month">2 Month</option>
                                                                  <option  value="3 Month">3 Month</option>
                                                                  <option  value="4 Month">4 Month</option>
                                                                  <option  value="5 Month">5 Month</option>
                                                                  <option  value="6 Month">6 Month</option>
                                                                  <option  value="7 Month">7 Month</option>
                                                                  <option  value="8 Month">8 Month</option>
                                                                  <option  value="9 Month">9 Month</option>
                                                                  <option  value="10 Month">10 Month</option>
                                                                  <option  value="11 Month">11 Month</option>
                                                                  <option  value="12 Month">12 Month</option>

                                                            </select>
                                                            
                                                        </div>
                                                    </div>
                                                </div> {% endcomment %}
                                                {% comment %} <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label style="color:black ;">Course Description<span style="color: red;"></span></label>
                                                        <div class="input-group mb-4">
                                                            <input style="color: black;" width="50" type="textarea" min="0" 
                                                                name="" id="" class="form-control" maxlength="" value="">
                                                        </div>
                                                    </div>
                                                </div> {% endcomment %}
                                                <!-- <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label style="color:black ;">Batch start date<span style="color: red;">*</span></label>
                                                        <div class="input-group mb-4">
                                                            <input style="color: black;" width="50" type="Date" min="0" 
                                                                name="batch_start_date" id="" class="form-control" maxlength="" value="">
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label style="color:black ;">Discount<span style="color: red;">*</span></label>
                                                        <div class="input-group mb-4">
                                                            <input style="color:black ;" width="50" type="text" min="0" 
                                                                name="discount" id="" class="form-control" maxlength="" value="">
                                                        </div>
                                                    </div>
                                                </div> -->
                                                
                                                <!-- <div class="col-md-8 text-center"></div> -->
                                                     <div class="col-md-12" style="padding-top:30px;">
                                                      <button class="btn btn-primary" style="background-color: mediumaquamarine; "><a href="{{ form.get_cancel_link }}" style="color:white;" >Back</a></button>
                                                      <input type="submit" class="btn btn-primary" style="background-color: mediumaquamarine; color:white;" onsubmit="submitForm()" value="Save">
                                                    </div>
                                                </div>
                                            </form>
                                         </div>
                                        </div>
                                    </div>
                                </div>    
                <!-- table -->
                <div class="card-body" style="margin-left: 20px;">
                    <div class="row" style="text-align: center;" >
                        <div class="col-md-12" >
                            <div class="table-responsive">
                                <table  class="display table table-hover table-striped table-bordered" >
                                    <thead>
                                        <tr style="text-align: center; background-color: lightcyan;">
                                            <th style="text-align:center">Sr.No</th>
                                            <!-- <th style="text-align:center">Brand Code</th> -->
                                            <th style="text-align:center">Brand Name</th>
                                            <!-- <th style="text-align:center">Sub Brand</th> -->
                                            <!-- <th style="text-align:center">Brand Size</th>
                                            <th style="text-align:center">Pages per Form</th> -->
                                            <th style="text-align:center">Brand Added On</th>
                                            <th style="text-align:center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in data %}
                                        <tr >
                                            <td >
                                                {{ forloop.counter }}
                                            </td>
                                            <!-- <td >
                                                {{ i.brand_code }}
                                            </td> -->
                                            <td>
                                                {{ i.brand_name }}
                                            </td>
                                            <!-- <td>
                                                {{ i.sub_brand}}
                                            </td> -->
                                            <!-- <td>
                                              {{ i.brand_size }}
                                          </td>
                                            <td >
                                                {{ i.pages_per_form }}
                                            </td> -->
                                            <td >
                                                {{ i.brands_added_on }}
                                            </td>                                                                                      
                                            <td>
                                                <!-- <div>
                                                     <a  href="#popup1 {{i.id}}"><i class="bi bi-eye"></i></a>
                                                    <div id="popup1 {{i.id}}" class="overlay">
                                                        <div class="popup">
                                                            <h4 style="background-color :#6e95fc;padding : 10px; color:white;">View Details</h4>
                                                            <a class="close" href="#">&times;</a>
                                                            <br><br>
                                                            <div style = "color: black; font-size: 15px;" class="content">

                                                               <span><b>Brand Name</b> = {{i.brand_name}}</span> <br><br>
                                                               <span><b>Pages Per Form</b> = {{i.pages_per_form}}</span> <br><br>
                        
                                                            </div>
                                                        </div>
                                                    </div> --> 
                                                    {% if request.user.is_authenticated and request.user.is_superuser %}
                                                    <a  href="/edit-brands/{{i.id}}/"> <i class="bi bi-pencil-square"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_printing and request.user.is_master_listing and  request.user.is_master  %}
                                                    <a  href="/edit-brands/{{i.id}}/"> <i class="bi bi-pencil-square"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_gathering  and request.user.is_master_listing and  request.user.is_master  %}
                                                    <a  href="/edit-brands/{{i.id}}/"> <i class="bi bi-pencil-square"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_binding and request.user.is_master_listing and  request.user.is_master  %}
                                                    <a  href="/edit-brands/{{i.id}}/"> <i class="bi bi-pencil-square"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_cutting and request.user.is_master_listing  and  request.user.is_master  %}
                                                    <a  href="/edit-brands/{{i.id}}/"> <i class="bi bi-pencil-square"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_packing and request.user.is_master_listing and  request.user.is_master  %}
                                                    <a  href="/edit-brands/{{i.id}}/"> <i class="bi bi-pencil-square"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_sale and request.user.is_master_listing and  request.user.is_master  %}
                                                    <a  href="/edit-brands/{{i.id}}/"> <i class="bi bi-pencil-square"></i></a>
                                                    {% endif %}












                                                    {% if request.user.is_authenticated and request.user.is_superuser %}
                                                    <a  href="/delete-brands/{{i.id}}/"><i class="bi bi-archive"></i></a>
                                                    {% endif %}
                                                    
                                                    {% if request.user.is_authenticated and request.user.is_printing and request.user.is_master_listing and request.user.is_master_deletion  %}
                                                    <a  href="/delete-brands/{{i.id}}/"><i class="bi bi-archive"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_gathering and request.user.is_master_listing and request.user.is_master_deletion  %}
                                                    <a  href="/delete-brands/{{i.id}}/"><i class="bi bi-archive"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_binding and request.user.is_master_listing and request.user.is_master_deletion  %}
                                                    <a  href="/delete-brands/{{i.id}}/"><i class="bi bi-archive"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_cutting and request.user.is_master_listing  and request.user.is_master_deletion  %}
                                                    <a  href="/delete-brands/{{i.id}}/"><i class="bi bi-archive"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_packing and request.user.is_master_listing  and request.user.is_master_deletion  %}
                                                    <a  href="/delete-brands/{{i.id}}/"><i class="bi bi-archive"></i></a>
                                                    {% endif %}
                                                    {% if request.user.is_authenticated and request.user.is_sale and request.user.is_master_listing  and request.user.is_master_deletion  %}
                                                    <a  href="/delete-brands/{{i.id}}/"><i class="bi bi-archive"></i></a>
                                                    {% endif %}
                                                    
                                                    
                                                </div>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
    
<script>
  function submitForm() {
    // Submit the form using AJAX
    $.ajax({
      url: $('#profile-form1').attr('action'),
      type: 'POST',
      data: $('#profile-form1').serialize(),
      success: function(response) {
        // Show a success message using SweetAlert
        Swal.fire({
          title: "Success!",
          text: "Brand Added Successfully",
          icon: "success",
          confirmButtonText: "OK",
        });
      },
      error: function(response) {
        // Show an error message using SweetAlert
        Swal.fire({
          title: "Error!",
          text: response.responseText,
          icon: "error",
          confirmButtonText: "OK",
        });
      }
    });
  }
</script>


</body>  

{% endblock %}