<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title></title>
   <style type="text/css">
    *
    {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    } 


      table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  /*background-color: #dddddd;*/
}
.div1
{
   
  width: 1000px;
  height: 789px;
  border: 1px solid black;
   border-radius: 15px 50px;
  box-shadow: 10px 11px 5px  lightgreen inset;
   /*border-radius: 15px 50px;
*/
}

.div2 {
  width: 1050px;
  height: 900px;  
  padding: 0px;
  padding-right: 0%;
  
}
 
   </style>

</head>
<body>
<center>
   <div class="btn-class text-center">
       <button class="btn btn-primary" style="padding: 8px; border-radius: 20px; font-size: 18px; "><a href="{% url 'subbrand_name' %}"  style="color:black;" >Back</a></button>
      

    </div>
   <div class="div1" style="width: fit-content;">
   <h1 style="padding-left: 5%;">WINWINGS PUBLICATIONS</h1>
   <img src="images/logo2 kohinoor.png"style="width: 5%;height: 5%;"><span style="padding-right: 3%;color: purple; font-size:400%;">KOHINOOR</span>
  <h4>776, GULGULWAR NIWAS, GOLIBAR CHOWK, NAGPUR</h4>
  
  <h4>GOLIBAR CHOWK, NAGPUR</h4>
  <h4>GST NO.: 27AAYPA2006L2ZL</h4>
  <!-- <h4 style="padding-left: 70%;">DATE: {{data.date}}</h4> -->
   <h4> PARTY:SHARPINDUSTRIES, NAGPUR</h4>
   <h4>LOT</h4>
   <!-- <span style="padding-left: 15%;">Binding Order No.</span>{{data.border_id}} -->

   <div style="float:left; margin-left: 12px; display: flex; justify-content: space-evenly; font-weight: bold;">
      <span>Sub Brand:</span><span>{{data.id}}</span>
      <h4 style="margin-left: 365px;">DATE:</h4>
   </div>
   <br><br>
  <div style="float:center; margin-left: 12px; display: flex; justify-content: space-evenly; font-weight: bold;">
    <h3>
   
    </h3>
   </div>

<div class="div2">
   <table >
   <tr>
      <th style='text-align:center;'>SR. </th>
      <th style='text-align:center;'>SUBBRAND </th> 
      <th style='text-align:center;'>BRAND </th> 
      <th style='text-align:center;'>SUBTITLE </th> 
      <th style='text-align:center;'>BRAND SIZE </th> 
      <th style='text-align:center;'>PAGES PER FORM (BINDING)</th> 
      <th style='text-align:center;'>PAGES PER FORM (PRINTING)</th> 
      <th style='text-align:center;'>CATEGORY </th> 
      <th style='text-align:center;'>MAIN DISCOUNT</th>
      <th style='text-align:center;'>EXTRA DISCOUNT</th> 
      <th style='text-align:center;'>ADDITIONAL DISCOUNT</th>
   </tr>
  

 
   <tr> 
      {% if data.category_1 %} 
      <td style='text-align:center;'>{{forloop.counter}}</td>
      <td style='text-align:center;'>{{data.subbrand}}</td>
      <td style='text-align:center;'>{{data.brand}}</td>
      <td style='text-align:center;'>{{data.subtitle}}</td>
      <td style='text-align:center;'>{{data.brand_size}}</td>

      <td style='text-align:center;'>{{data.binding_form_size}}</td>
      <td style='text-align:center;'>{{data.printing_form_size}}</td>
      <td style='text-align:center;'>{{data.category_1}}</td>
      <td style='text-align:center;'>{{data.mainDiscount_1}}</td>
      <td style='text-align:center;'>{{data.extraDiscount_1}}</td>
      <td style='text-align:center;'>{{data.additionalDiscount_1}}</td>
      {% endif %}
   </tr>
  
   
   <tr>
    {% if data.category_2 %} 
    <td style='text-align:center;'>{{forloop.counter}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style='text-align:center;'>{{data.category_2}}</td>
    <td style='text-align:center;'>{{data.mainDiscount_2}}</td>
    <td style='text-align:center;'>{{data.extraDiscount_2}}</td>
    <td style='text-align:center;'>{{data.additionalDiscount_2}}</td>
    {% endif %}
   </tr>
  
   <tr>
    {% if data.category_3 %} 
    <td style='text-align:center;'>{{forloop.counter}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style='text-align:center;'>{{data.category_3}}</td>
    <td style='text-align:center;'>{{data.mainDiscount_3}}</td>
    <td style='text-align:center;'>{{data.extraDiscount_3}}</td>
    <td style='text-align:center;'>{{data.additionalDiscount_3}}</td>
    {% endif %}
   </tr>

   <tr>
    {% if data.category_4 %} 
    <td style='text-align:center;'>{{forloop.counter}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style='text-align:center;'>{{data.category_4}}</td>
    <td style='text-align:center;'>{{data.mainDiscount_4}}</td>
    <td style='text-align:center;'>{{data.extraDiscount_4}}</td>
    <td style='text-align:center;'>{{data.additionalDiscount_4}}</td>
    {% endif %}
   </tr>

   <tr>
    {% if data.category_5 %} 
    <td style='text-align:center;'>{{forloop.counter}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style='text-align:center;'>{{data.category_5}}</td>
    <td style='text-align:center;'>{{data.mainDiscount_5}}</td>
    <td style='text-align:center;'>{{data.extraDiscount_5}}</td>
    <td style='text-align:center;'>{{data.additionalDiscount_5}}</td>
    {% endif %}
   </tr>

   <tr>
    {% if data.category_6 %} 
    <td style='text-align:center;'>{{forloop.counter}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style='text-align:center;'>{{data.category_6}}</td>
    <td style='text-align:center;'>{{data.mainDiscount_6}}</td>
    <td style='text-align:center;'>{{data.extraDiscount_6}}</td>
    <td style='text-align:center;'>{{data.additionalDiscount_6}}</td>
    {% endif %}
   </tr>

   <tr>
    {% if data.category_7 %} 
    <td style='text-align:center;'>{{forloop.counter}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style='text-align:center;'>{{data.category_7}}</td>
    <td style='text-align:center;'>{{data.mainDiscount_7}}</td>
    <td style='text-align:center;'>{{data.extraDiscount_7}}</td>
    <td style='text-align:center;'>{{data.additionalDiscount_7}}</td>
    {% endif %}
   </tr>

   <tr>
    {% if data.category_8 %} 
    <td style='text-align:center;'>{{forloop.counter}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style='text-align:center;'>{{data.category_8}}</td>
    <td style='text-align:center;'>{{data.mainDiscount_8}}</td>
    <td style='text-align:center;'>{{data.extraDiscount_8}}</td>
    <td style='text-align:center;'>{{data.additionalDiscount_8}}</td>
    {% endif %}
   </tr>

   <tr>
    {% if data.category_9 %} 
    <td style='text-align:center;'>{{forloop.counter}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style='text-align:center;'>{{data.category_9}}</td>
    <td style='text-align:center;'>{{data.mainDiscount_9}}</td>
    <td style='text-align:center;'>{{data.extraDiscount_9}}</td>
    <td style='text-align:center;'>{{data.additionalDiscount_9}}</td>
    {% endif %}
   </tr>

   <tr>
    {% if data.category_10 %} 
    <td style='text-align:center;'>{{forloop.counter}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style='text-align:center;'>{{data.category_10}}</td>
    <td style='text-align:center;'>{{data.mainDiscount_10}}</td>
    <td style='text-align:center;'>{{data.extraDiscount_10}}</td>
    <td style='text-align:center;'>{{data.additionalDiscount_10}}</td>
    {% endif %}
   </tr>




   <tr>
      <td style='text-align:center;'>TOTAL</td>
      <th style='text-align:center;'></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style='text-align:center;'>{{ total_main_discount }}</td>
      <td style='text-align:center;'>{{ total_extra_discount }}</td>
      <td style='text-align:center;'>{{ total_additional_discount }}</td>
    </tr> 
</table>
 
    </tr>
   
 
   
    </tr>
   
</div>
</center>
</body>
</html>


