{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>{% block title %}Customer{% endblock %}</title>

<style>
   *
   {
    font-family: Georgia;
   }
   .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h4 {
  margin-top: 0;
  color: #333;
  /* font-family: Tahoma, Arial, sans-serif; */
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

</style>
<style type="text/css">
  .select-style{
    border-radius: 0.25rem;
    border-color: black;
  }
  .form-control{
    border-radius: 0.25rem;
    border-color: black;
  }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 



<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb  mb-3">
            <div class="breadcrumb-title pe-3">User Info</div>
            <hr>
                {% comment %} <div class="d-grid gap-2  justify-content-md-end" style="margin-right: 50px;">
                     <button class="btn btn-primary me-md-2" id="myBtn"  type="button" style="background-color:mediumaquamarine;"><i class="fa fa-plus" ></i>&nbsp;Create Role</button>  
                    

                </div> {% endcomment %}
                <!-- create -->
                <div id="myModal" class="modal">



                    
                    <div class="modal-content" style="background-color:lightcyan;">
                      <span class="close text-end mb-2" onclick="this.parentNode.style.display = 'none'; return false;" style="float: right; font-size: 20px; color:#00569d; cursor: pointer;">✕</span> 


                      
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color:black; background-color:mediumaquamarine;text-align:center;"><h4 style="color:white ;">Create User</h4></div>
                                <hr style="color:black">
                                <form method="POST" id="profile-form1" >
                                    {% csrf_token %}
                                    <div class="panel-body" align="center">
                                        <!-- <h4 class="modal-title" style="color:black;">Upload & Crop Image</h4> -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group w-25">
                                                        <label style="color:black ;">Role<span style="color: red;">*</span></label>
                                                        <div class="input-group mb-4">
                                                            <input width="50" type="text" min="0" 
                                                                name="user_roles" id="" class="form-control" maxlength="10" value="" placeholder=""  oninput="this.value = this.value.replace(/[^a-z A-Z]/g, '').replace(/(\..*?)\..*/g, '$1');" required/>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                </div>
                                                
                                                 {% comment %} <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label style="color:black ;">Address<span style="color: red;">*</span></label>
                                                        <div class="input-group mb-4">
                                                            <input style="color:black ;" width="50" type="text" min="0" 
                                                                name="company_address" id="" class="form-control" maxlength="" value="" placeholder="Enter Address" oninput="this.value = this.value.replace(/[^a-z A-Z]/g, '').replace(/(\..*?)\..*/g, '$1');" required/>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label style="color:black ;">Pin Code<span style="color: red;">*</span></label>
                                                        <div class="input-group mb-4">
                                                            <input style="color:black ;" width="50" type="text" maxlength="6" 
                                                                name="pincode" id="" class="form-control" maxlength="" value="" placeholder="Enter Pin" required/>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label style="color:black ;">Website<span style="color: red;">*</span></label>
                                                        <div class="input-group mb-4">
                                                            <input style="color:black ;" width="50" type="text" min="0" 
                                                                name="website" id="" class="form-control" maxlength="" value="" placeholder="www" required/>
                                                        </div>
                                                    </div>
                                                </div>  {% endcomment %}
                                                <div class="col-md-8 text-center"></div>
                                                    <div class="col-md-12">
                                                      {% comment %} <button class="btn btn-primary" style="background-color:mediumaquamarine ; "><a href="{{ form.get_cancel_link }}" style="color:white;" >Back</a></button> {% endcomment %}
                                          {% comment %} <button type="button" class="btn btn-success" style="background-color: mediumaquamarine; color:white;" onclick="submitForm()" >Save</button> {% endcomment %}
                                                    <input type="submit" class="btn btn-primary" style="background-color: mediumaquamarine; color:white;" onclick="submitForm()" value="Save">
                                                    </div>
                                                </div>
                                            </form>
                                         </div>
                                        </div>
                                    </div>
                                </div>    
                <!-- table -->
                <div class="card-body" style="margin-left: 20px;">
                    <div class="row" style="text-align: center;" >
                        <div class="col-md-11" >
                            <div class="table-responsive">
                                <table  class="display table table-hover table-striped table-bordered" >
                                    <thead>
                                        <tr style="text-align: center; background-color: lightcyan;">
                                            <th align="center">Sr.No</th>
                                            <th align="center"> User Role</th>
                                            <th align="center">Action</th>
                                            
                                           
                      
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in data %}
                                        <tr >
                                            <td >
                                                {{ forloop.counter }}
                                            </td>
                                            
                                             <td >
                                                {{ i.user_roles  }}
                                            </td>
                                            
                                                                                                                                                                                     
                                            <td>
                                               
                                                <a href="/master_permission_show/{{i.user_roles}}/"><i class="bi bi-eye"></i></a>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      const inputElement = document.getElementById('gstin_input');
  
      inputElement.addEventListener('input', function() {
          const gstinPattern = /^[A-Z]{3}[0-9]{12}$/;
          const validInput = inputElement.value.match(gstinPattern);
          if (!validInput) {
              inputElement.setCustomValidity('Please enter a valid GSTIN with three uppercase alphabets followed by twelve numbers.');
          } else {
              inputElement.setCustomValidity('');
          }
      });
  </script>
    <script>
    // Add an event listener to the input field
    document.getElementById('company_contact').addEventListener('input', function () {
        // Get the input value and remove any non-digit characters
        let inputValue = this.value.replace(/\D/g, '');

        // Limit the input to a maximum of 10 characters
        if (inputValue.length > 10) {
            inputValue = inputValue.slice(0, 10);
        }

        // Update the input value
        this.value = inputValue;
    });
   </script>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            // Get the select element by its ID
            const stateDropdown = document.getElementById('stateDropdown');
    
            // Set the default option to "Maharashtra"
            const defaultState = 'Maharashtra';
    
            // Loop through all options in the select element
            for (let i = 0; i < stateDropdown.options.length; i++) {
                const option = stateDropdown.options[i];
    
                // Check if the option's value matches the default state
                if (option.value === defaultState) {
                    // Set the option as selected
                    option.selected = true;
                    break; // Exit the loop once found
                }
            }
        });
    </script>
    
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            // Get the select element by its ID
            const countryDropdown = document.getElementById('countryDropdown');
    
            // Set the default option to "India"
            const defaultCountry = 'India';
    
            // Loop through all options in the select element
            for (let i = 0; i < countryDropdown.options.length; i++) {
                const option = countryDropdown.options[i];
    
                // Check if the option's value matches the default country
                if (option.value === defaultCountry) {
                    // Set the option as selected
                    option.selected = true;
                    break; // Exit the loop once found
                }
            }
        });
    </script>
    {% comment %} <script>
        const states = [
            "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh",
            "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka",
            "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur","Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab",
            "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura",
            "Uttar Pradesh", "Uttarakhand", "West Bengal"
        ];

        const stateDropdown = document.getElementById("stateDropdown");

        states.forEach(state => {
            const option = document.createElement("option");
            option.value = state;
            option.text = state;
            stateDropdown.appendChild(option);
        });

        stateDropdown.addEventListener("change", function() {
            const selectedState = stateDropdown.value;
            console.log("Selected State:", selectedState);
            // You can perform any action here based on the selected state
        });
    </script> {% endcomment %}

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }



        </script>

        {% comment %} <script>
          function submitForm() {
            // Submit the form using AJAX
            $.ajax({
              url: $('#profile-form1').attr('action'),
              type: 'POST',
              data: $('#profile-form1').serialize(),
              success: function(response) {
                // Show a success message using SweetAlert
                swal({
                  title: "Success!",
                  text: "Company Added Successfully",
                  icon: "success",
                  button: "OK",
                });
              },
              error: function(response) {
                // Show an error message using SweetAlert
                swal({
                  title: "Error!",
                  text: response.responseText,
                  icon: "error",
                  button: "OK",
                });
              }
            });
          }
        </script> {% endcomment %}

</body>  
{% endblock %}