{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>{% block title %}Customer{% endblock %}</title>

<style>
   *
   {
    font-family: Georgia;
   }
   .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888; 
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: lightcyan;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h4 {
  margin-top: 0;
  color: #333;
  /* font-family: Tahoma, Arial, sans-serif; */
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

</style>
<style type="text/css">
  .select-style{
    border-radius: 0.25rem;
    border-color: black;
  }
  .form-control{
    border-radius: 0.25rem;
    border-color: black;
  }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 



<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb  mb-3">
            <div class="breadcrumb-title pe-3">Printing Info</div>
            <hr>
                <div id="myModal" class="modal">
                    <div class="modal-content">       
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color:black; background-color:#6e95fc;text-align:center;"><h4 style="color:white ;">Create Class</h4></div>
                                <hr style="color:black">
                                <form method="POST" onsubmit="return myfun()">
                                    {% csrf_token %}
                                    <div class="panel-body" align="center">
                                            <div class="row">
                                               <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label style="color:black ;">Total Printing Received<<span style="color: red;">*</span></label>
                                                        <div class="input-group mb-4">
                                                            <input width="50" type="text" min="0" 
                                                                name="total_printing_received" id="" class="form-control" maxlength="10" value="" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label style="color:black ;">Wastage<span style="color: red;"></span></label>
                                                        <div class="input-group mb-4">
                                                            <input style="color: black;" width="50" type="textarea" min="0" 
                                                                name="wastage_form" id="" class="form-control" maxlength="" value="">
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="col-md-8 text-center"></div>
                                                    <div class="col-md-4" style="padding-top:30px;">
                                                      <button class="btn btn-success" style="background-color: #ff9122; "><a href="{{ form.get_cancel_link }}" style="color:white;" >Back</a></button>
                                                      <button type="submit" class="btn btn-success" style="background-color: #ff9122; color:white;">DONE</button>
                                                    </div>
                                                </div>
                                            </form>
                                         </div>
                                        </div>
                                    </div>
                                </div>    
                <div class="card-body" style="margin-left: 20px;">
                    <div class="row" style="text-align: center;" >
                        <div class="col-md-11" >
                            <div class="table-responsive">
                                <table  class="display table table-hover" >
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th align="center">Sr.No</th>
                                            <th align="center">Order Id</th>
                                            <th align="center">Vender Name</th>
                                            <th align="center">Total Quantity</th>
                                            <th align="center">Total Received Form</th>
                                            <th align="center">Wastage Forms</th>
                                            <th align="center">Printing Date</th>
                                            <th align="center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ord in data1 %}
                                        <tr >
                                            <td >
                                                {{ forloop.counter }}
                                            </td>
                                            <td >
                                                {{ ord.order_id }}
                                            </td>
                                            <td >
                                                {{ ord.vender_name }}
                                            </td>
                                            <td >
                                                {{ ord.total_quantity }}
                                            </td>
                                            <td>
                                                {{ ord.printing_received_form }}
                                            </td>
                                            <td >
                                                {{ ord.print_wastage_form }}
                                            </td>
                                            <td >
                                                {{ ord.print_date }}
                                            </td>                                                                                     
                                            <td>
                                                {% if ord.print_approved != True %}
                                                <div>
                                                    <a  href="/edit-printing/{{ord.order_id}}/"><i class="bi bi-pencil-square"></i></a>
                                                  
                                                    <!-- <a  href="/view-printing/{{ord.order_id}}/"><i class="bi bi-eye"></i></a> -->
                                                
                                                </div>
                                                {% else %}
                                                <h4 type="submit" class="btn btn-success btn-round ml-auto" data-toggle="modal" style="margin-left: 10px; float: left;">Printing Approved</h4>
                                                {% endif %}
                                            </td>
                                             {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }



        </script>

</body>  

{% endblock %}