<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title></title>
   <style type="text/css">
    *
    {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    } 


      table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  /*background-color: #dddddd;*/
}
.div1
{
   
  width: 800px;
  height: 789px;
  border: 1px solid black;
   border-radius: 15px 50px;
  box-shadow: 10px 11px 5px  lightgreen inset;
   /*border-radius: 15px 50px;
*/
}

.div2 {
  width: 800px;
  height: 1000px;  
  padding: 0px;
  padding-right: 0%;
  
}
 
   </style>

</head>
<body>
<center>
   <div class="div1">
   <h1 style="padding-left: 5%;">WINWINGS PUBLICATIONS</h1>
   <img src="images/logo2 kohinoor.png"style="width: 5%;height: 5%;"><span style="padding-right: 3%;color: purple; font-size:400%;">KOHINOOR</span>
  <h4>776, GULGULWAR NIWAS, GOLIBAR CHOWK, NAGPUR</h4>
  
  <h4>GOLIBAR CHOWK, NAGPUR</h4>
  <h4>GST NO.: 27AAYPA2006L2ZL</h4>
  <!-- <h4 style="padding-left: 70%;">DATE: {{data.date}}</h4> -->
   <h4> PARTY:SHARPINDUSTRIES, NAGPUR</h4>
   <h4>LOT</h4>
   <!-- <span style="padding-left: 15%;">Binding Order No.</span>{{data.border_id}} -->

   <div style="float:left; margin-left: 12px; display: flex; justify-content: space-evenly; font-weight: bold;">
      <span>Purchase Voucher:</span><span>{{data.id}}</span>
      <h4 style="margin-left: 365px;">DATE: {{data.sl_voucher_date}}</h4>
   </div>
   <br><br>
  <div style="float:center; margin-left: 12px; display: flex; justify-content: space-evenly; font-weight: bold;">
    <h3>
   
    </h3>
   </div>

<div class="div2">
    <div style="float:center; margin-left: 12px; display: flex; justify-content: space-evenly; font-weight: bold;">
    <h3>
    ITEM GENERATED
    </h3>
   </div>
   <table >

   <tr>
      <th style='text-align:center;'>SR. </th>
      <!-- <th style='text-align:center;'>BRAND </th>
      <th style='text-align:center;'>STD. </th>
      <th style='text-align:center;'>MEDIUM. </th> -->
      <th style='text-align:center;'>ITEM NAME</th>
      
      <th style='text-align:center;'>QUANTITY</th>
      <th style='text-align:center;'>UNITS</th>
      
       <th style='text-align:center;'>PRICE</th>
      <th style='text-align:center;'>AMOUNT </th> 
      {% comment %} <th style='text-align:center;'>QUANTITY</th>
      <th style='text-align:center;'>BINDING RATE</th> {% endcomment %}
      <!-- <th style='text-align:center;'>RIM</th> -->
   </tr>
  

  {% comment %} {% if data.sl_voucher_item_name_1 %}
   <tr> {% endcomment %}
      <td style='text-align:center;'>1.</td>
      <td style='text-align:center;'>{{data.sl_voucher_item_name_1}}</td>
      <td style='text-align:center;'>{{data.sl_voucher_qty_1}}</td>
      <td style='text-align:center;'>{{data.sl_voucher_unit_1}}</td>
      <td style='text-align:center;'>{{data.sl_voucher_price_1}}</td>
      <td style='text-align:center;'>{{data.sl_voucher_amount_1}}</td>
     
      
      
   {% comment %} {% endif %} {% endcomment %}
   </tr>
  
   {% for item in dynamic_data %}
   <tr>
       <td style='text-align:center;'>{{ forloop.counter }}.</td>
       <td style='text-align:center;'>{{ item.sl_voucher_item_name }}</td>
       <td style='text-align:center;'>{{ item.sl_voucher_qty }}</td>
       <td style='text-align:center;'>{{ item.sl_voucher_unit }}</td>
       <td style='text-align:center;'>{{ item.sl_voucher_price }}</td>
       <td style='text-align:center;'>{{ item.sl_voucher_amount }}</td>
   </tr>
  {% endfor %}




   <tr>
      <td style='text-align:center;'></td>
      <th style='text-align:center;'>TOTAL</th>
      <td style='text-align:center;'></td>
      <td style='text-align:center;'></td>
      <td style='text-align:center;'></td>
      <td style='text-align:center;'>{{ total_amount2 }}</td> 
      
      
      
     
      <!-- <td style='text-align:center;'>{{data.total_rim}}</td>   -->
   </tr> 
</table>
 <div style="float:center; margin-left: 12px; display: flex; justify-content: space-evenly; font-weight: bold;">
    <h3>
    ITEM CONSUMED
    </h3>
   </div>
   <table >
    <tr>
       <th style='text-align:center;'>SR. </th>
       <!-- <th style='text-align:center;'>BRAND </th>
       <th style='text-align:center;'>STD. </th>
       <th style='text-align:center;'>MEDIUM. </th> -->
       {% comment %} <th style='text-align:center;'>ITEM NAME</th> {% endcomment %}
       
       <th style='text-align:center;'>BILL SUNDRIES</th>
       <th style='text-align:center;'>NARRATION</th>
       
        <th style='text-align:center;'>0</th>
       <th style='text-align:center;'>AMOUNT </th> 
        {% comment %} <th style='text-align:center;'>QUANTITY</th>
       <th style='text-align:center;'>BINDING RATE</th>  {% endcomment %}
       <!-- <th style='text-align:center;'>RIM</th> -->
    </tr>
   
 
   {% if data.sl_ammount_1 %}
    <tr>
       <td style='text-align:center;'>1.</td>
       <td style='text-align:center;'>{{data.sl_bill_sundries_1}}</td>
       <td style='text-align:center;'>{{data.sl_narration_1}}</td>
       <td style='text-align:center;'>{{data.sl_zero_1}}</td>
       <td style='text-align:center;'>{{data.sl_ammount_1}}</td>
       {% comment %} <td style='text-align:center;'>{{data.consumed_voucher_amount_1}}</td> {% endcomment %}
      
       
       
    {% endif %}
    </tr>
   
    {% for item in dynamic_data1 %}
    <tr>
        <td style='text-align:center;'>{{ forloop.counter }}.</td>
        <td style='text-align:center;'>{{ item.sl_bill_sundries }}</td>
        <td style='text-align:center;'>{{ item.sl_narration }}</td>
        <td style='text-align:center;'>{{ item.sl_zero }}</td>
        <td style='text-align:center;'>{{ item.sl_ammount }}</td>
        {% comment %} <td style='text-align:center;'>{{ item.consumed_voucher_amount }}</td> {% endcomment %}
    </tr>
   {% endfor %}
 
   
    
 
    <tr>
       <td style='text-align:center;'></td>
       <th style='text-align:center;'>TOTAL</th>
       <td style='text-align:center;'></td>
       <td style='text-align:center;'></td>
       <td style='text-align:center;'>{{total_amount1}}</td>
       {% comment %} <td style='text-align:center;'></td>  {% endcomment %}
       
       
       
      
       <!-- <td style='text-align:center;'>{{data.total_rim}}</td>   -->
    </tr> 
 </table> 

</div>
</center>
</body>
</html>


