{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>{% block title %}Customer{% endblock %}</title>

<style>
   *
   {
    font-family: Georgia;
   }
   .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: lightcyan;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h4 {
  margin-top: 0;
  color: #333;
  /* font-family: Tahoma, Arial, sans-serif; */
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 190ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@media screen and (max-width: 850px){
    .modal-content-mobile{
        width : 90%;
    }
  }

</style>
<style type="text/css">
  .select-style{
    border-radius: 0.25rem;
    border-color: black;
  }
  .form-control{
    border-radius: 0.25rem;
    border-color: black;
  }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 



<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb  mb-3">
            <div class="breadcrumb-title pe-3"> Sale Vouchers</div>
            <hr>
                <div class="d-grid gap-2  justify-content-md-end" style="margin-right: 50px;">
                    <button class="btn btn-primary me-md-2" id="myBtn"  type="button" style="background-color:mediumaquamarine;"><i class="fa fa-plus" ></i>&nbsp;create Sale Voucher</button>
                    

                </div>
                <!-- create -->
                <div id="myModal" class="modal">



                    
                    <div class="modal-content modal-content-mobile" style="background-color: lightcyan;">
                        <!-- <span class="close text-end mb-2" onclick="this.parentNode.style.display = 'none'; return false;" style="float: right; font-size: 20px; color:#00569d; cursor: pointer;">✕</span> -->
                      
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color:black; background-color:mediumaquamarine;text-align:center;"><h4 style="color:white ;">Sale Voucher</h4></div>
                                <hr style="color:black">
                                <form method="POST" onsubmit="return myfun()" id="profile-form" >
                                    {% csrf_token %}
                                    <div class="panel-body" align="left">
                                        <!-- <h4 class="modal-title" style="color:black;">Upload & Crop Image</h4> -->
                                            <div class="row">
                                              <div class="d-grid gap-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label style="color: black;">Date<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input type="datetime-local" class="form-control mobile" name="sl_voucher_date" id="sl_voucher_date" value="{% now 'Y-m-d\TH:i' %}" max="{% now 'Y-m-d\TH:i' %}" />
                                                    </div>
                                                </div>
                                             </div>
                                             <div class="d-grid gap-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label style="color:black ;">Series<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                     <input style="color: black;" width="50" type="text" min="0" placeholder="Series"
                                                        name="sl_voucher_series" id="" class="form-control" maxlength="" value=""
                                                         placeholder="series" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label style="color:black ;">Vehicle No.<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="color: black;" width="50" type="voucherno" min="0" placeholder="Enter vehicle No"
                                                            name="sl_vehicle_no" id="" class="form-control" maxlength="" value=""
                                                            required="" placeholder="vehicleno" >
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="d-grid gap-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label style="color:black ;">Sale Type<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="color: black;" width="50" type="textarea" min="0" 
                                                            name="sl_voucher_sale_type" id="" class="form-control" maxlength="" value="" placeholder=" Sale Type ">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label style="color:black ;">Party<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="color:black ;" width="50" type="text" min="0" 
                                                            name="sl_voucher_party" id="" class="form-control" maxlength="" value="" placeholder="Enter Party" oninput="this.value = this.value.replace(/[^a-z A-Z]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="d-grid gap-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label style="color:black ;">Narration<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="color:black ;" width="50" type="text" min="0" 
                                                            name="sl_voucher_narration" id="" class="form-control" maxlength="" value="" placeholder="Enter Narration" oninput="this.value = this.value.replace(/[^a-z A-Z]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                    </div>
                                                </div>
                                            </div> 







                                            <div class="form-group">
                                                <h5><label style="color:black ;">Item Generated<span style="color: red;"></span></label></h5>
                                                {% comment %} <div class="input-group mb-4">
                                                    
                                                </div> {% endcomment %}
                                            </div>








                                        <div class = "row d-flex mx-3">




                                            <div class="col-md-2" style = "padding:0; width:190px">
                                                <div class="mb-0">
                                                    <label style="color:black ;">Item Name<span style="color: red;"></span></label>
                                                    <div class="input-group ">
                                                        {% comment %} <input type="text" name="pr_voucher_item_name_1" id="pr_voucher_item_name_1" class="form-control" placeholder="Item Name" > {% endcomment %}

                                                            <select class="form-control" name="sl_voucher_item_name_1" id="sl_voucher_item_name_1"
                                                            style="width:100%; border-radius: 0;">
                                                            <option disabled selected value>Select Subject</option>
                                                            {% for i in data1 %}
                                                            <option>{{i.code}}&nbsp;  *{{i.books_class}}&nbsp; *{{i.subject}}</option>
                                                            {% endfor %}
                                                           </select>
                                                        
                                                    
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2" style = "padding:0; width:190px">
                                                <div class="mb-0">
                                                    <label style="color:black ;">Qty<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="width:100%; border-radius: 0;" type="text" name="sl_voucher_qty_1" id="sl_voucher_qty_1"class="form-control" placeholder="Enter Qty"  oninput="calculateAmount()">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2" style = "padding:0; width:190px">
                                                <div class="mb-0">
                                                    <label style="color:black ;">Unit<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="width:100%; border-radius: 0; " type="text" name="sl_voucher_unit_1" id="sl_voucher_unit_1" class="form-control" placeholder="Enter Unit" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style = "padding:0; width:190px">
                                                <div class="mb-0">
                                                    <label style="color:black ;">Price<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="width:100%; border-radius: 0;" type="text" name="sl_voucher_price_1" id="sl_voucher_price_1" class="form-control" placeholder="Enter Price"  oninput="calculateAmount()">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style = "padding:0; width:190px">
                                                <div class="mb-0">
                                                    <label style="color:black ;">Amount<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style=" border-radius: 0; width:100px;" type="text" name="sl_voucher_amount_1"  id="sl_voucher_amount_1"class="form-control" placeholder="Enter Amount"  readonly >
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col" >
                                                <a href="#" style="margin-left:10px; text-align:right; color:white; select:none">Remove</a>
                                            </div>


                                        </div>

                                        <div class="input_fields_container mb-3"></div>


                                     <!-- clone fields for item generated display none fields clone able fields -->
                                            <div id="template" class="clonable-field" style=display:none;>
                                            <div class = "row d-flex mx-3">




                                                <div class="col-sm-2" style = "padding:0;">
                                                    <div class="mb-0">
                                                        {% comment %} <label for="itemname_" style="color:black ;">Item Name<span style="color: red;"></span></label> {% endcomment %}
                                                        <div class="input-group ">
                                                            {% comment %} <input type="text" name="pr_voucher_item_name" class="form-control" placeholder="Item Name" > {% endcomment %}
                                                            <select class="form-control" name="sl_voucher_item_name" id="sl_voucher_item_name"
                                                            style="width:100%; border-radius: 0;" >
                                                            <option disabled selected value>Select Subject</option>
                                                            {% for i in data1 %}
                                                            <option>{{i.code}}&nbsp;  *{{i.books_class}}&nbsp; *{{i.subject}}</option>
                                                            {% endfor %}
                                                           </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2" style = "padding:0;">
                                                    <div class="mb-0">
                                                        {% comment %} <label style="color:black ;">Qty<span style="color: red;">*</span></label> {% endcomment %}
                                                        <div class="input-group ">
                                                            <input style="width:100%; border-radius: 0;"  type="text" name="sl_voucher_qty" class="form-control" placeholder="Enter Qty" >
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2" style = "padding:0;">
                                                    <div class="mb-0">
                                                        {% comment %} <label style="color:black ;">Unit<span style="color: red;">*</span></label> {% endcomment %}
                                                        <div class="input-group ">
                                                            <input style="width:100%; border-radius: 0;"  type="text" name="sl_voucher_unit" class="form-control" placeholder="Enter Unit" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style = "padding:0;">
                                                    <div class="mb-0">
                                                        {% comment %} <label style="color:black ;">Price<span style="color: red;">*</span></label> {% endcomment %}
                                                        <div class="input-group ">
                                                            <input style="width:100%; border-radius: 0;"  type="text" name="sl_voucher_price" class="form-control" placeholder="Enter Price" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style = "padding:0;">
                                                    <div class="mb-0">
                                                        {% comment %} <label style="color:black ;">Amount<span style="color: red;">*</span></label> {% endcomment %}
                                                        <div class="input-group ">
                                                            <input style="width:100%; border-radius: 0;"  type="text" name="sl_voucher_amount" class="form-control" placeholder="Enter Amount" >
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col" >
                                                    <a href="#" class="remove_field" style="margin-left:10px; text-align:center;">Remove</a>
                                                </div>

                                            </div>
                                            </div>
                                            
                                            
                                            
                                            
                                                <div 
                                                    style = "display:flex;
                                                            justify-content:center;
                                                            align-items:center;"
                                                >
                                                    <button class="btn btn-primary" id="add_more_button" style="background-color:mediumaquamarine;">Add New Items</button>
                                                </div>
                                           
                                            

                                   <!-- input filds for item consumed -->
                                            <div class="form-group">
                                                <h5><label style="color:black ;">Item Consumed<span style="color: red;"></span></label></h5>
                                                <div class="input-group ">  
                                                </div>
                                            </div>

                                            {% comment %} <div class="d-grid gap-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label style="color:black ;">Item Name<span style="color: red;"></span></label>
                                                    <div class="input-group mb-4">  {% endcomment %}
                                                        {% comment %} <input type="text" name="consumed_voucher_item_name_1" id="consumed_voucher_item_name_1" class="form-control" placeholder="Item Name" > {% endcomment %}
                                                         {% comment %} <select class="form-control" name="consumed_voucher_item_name_1" id="consumed_voucher_item_name_1"
                                                        style="width:100%;" >
                                                        <option disabled selected value>Select Subject</option>
                                                        {% for i in data1 %}
                                                        <option>{{i.code}}&nbsp;  *{{i.books_class}}&nbsp; *{{i.subject}}</option>
                                                        {% endfor %}
                                                       </select>
                                                        
                                                    </div>
                                                </div>
                                            </div> {% endcomment %}

                                        <div class = "row d-flex mx-3">


                                            <div class="col-md-2" style = "padding:0; width:190px">
                                                <div class="mb-0">
                                                    <label style="color:black ;">Bill Sundries<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="width:100%; border-radius: 0;" type="text" name="sl_bill_sundries_1" id="sl_bill_sundries_1"class="form-control" placeholder="Enter Qty"   oninput="calculateAmount()">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2" style = "padding:0; width:190px">
                                                <div class="mb-0">
                                                    <label style="color:black ;">Narration<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="width:100%; border-radius: 0;" type="text" name="sl_narration_1" id="sl_narration_1" class="form-control" placeholder="Enter Unit" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style = "padding:0; width:190px">
                                                <div class="mb-0">
                                                    <label style="color:black ;">0<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="width:100%; border-radius: 0;" type="text" name="sl_zero_1" id="sl_zero_1" class="form-control" placeholder="Enter Price"   oninput="calculateAmount()">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style = "padding:0; width:190px">
                                                <div class="mb-0">
                                                    <label style="color:black ;">Amount<span style="color: red;">*</span></label>
                                                    <div class="input-group ">
                                                        <input style="width:100%; border-radius: 0;" type="text" name="sl_ammount_1"  id="sl_ammount_1"class="form-control" placeholder="Enter Amount" >
                                                    </div>
                                                </div>
                                            </div>



                                        </div>

                                        <div class="input_fields_container1  mb-3"></div>


                       <!-- display none for item consumed and clone fields for add more button -->
                                            <div id="template1" class="clonable-field1" style=display:none;>
                                                {% comment %} <div class="d-grid gap-2 col-sm-6">
                                                    <div class="mb-3">
                                                        <label for="pr_voucher_item_name_" style="color:black ;">Item Name<span style="color: red;"></span></label>
                                                        <div class="input-group mb-4">  {% endcomment %}
                                                            {% comment %} <input type="text" name="consumed_voucher_item_name" class="form-control" placeholder="Item Name" > {% endcomment %}
                                                            {% comment %} <select class="form-control" name="consumed_voucher_item_name" id="consumed_voucher_item_name"
                                                        style="width:100%;" >
                                                        <option disabled selected value>Select Subject</option>
                                                        {% for i in data1 %}
                                                        <option>{{i.code}}&nbsp;  *{{i.books_class}}&nbsp; *{{i.subject}}</option>
                                                        {% endfor %}
                                                       </select>
                                                        </div>
                                                    </div>
                                                </div> {% endcomment %}

                                            <div class = "row d-flex mx-3">



                                                <div class="col-sm-2" style = "padding:0;">
                                                    <div class="mb-0">
                                                        {% comment %} <label style="color:black ;">Bill Sundries<span style="color: red;">*</span></label> {% endcomment %}
                                                        <div class="input-group">
                                                            <input style="width:100%; border-radius: 0;" type="text" name="sl_bill_sundries" class="form-control" placeholder="Enter Qty" >
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2" style = "padding:0;">
                                                    <div class="mb-0">
                                                        {% comment %} <label style="color:black ;">Narration<span style="color: red;">*</span></label> {% endcomment %}
                                                        <div class="input-group">
                                                            <input style="width:100%; border-radius: 0;" type="text" name="sl_narration" class="form-control" placeholder="Enter Unit" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style = "padding:0;">
                                                    <div class="mb-0">
                                                        {% comment %} <label style="color:black ;">0<span style="color: red;">*</span></label> {% endcomment %}
                                                        <div class="input-group">
                                                            <input style="width:100%; border-radius: 0;" type="text" name="sl_zero" class="form-control" placeholder="Enter Price" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style = "padding:0;">
                                                    <div class="mb-0">
                                                        {% comment %} <label style="color:black ;">Amount<span style="color: red;">*</span></label> {% endcomment %}
                                                        <div class="input-group">
                                                            <input style="width:100%; border-radius: 0;" type="text" name="sl_ammount" class="form-control" placeholder="Enter Amount" >
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2" >
                                                    <a href="#" class="remove_field col-md-12" style="margin-left:10px; text-align:right;">Remove</a>
                                                </div>

                                            </div>

                                        
                                            </div>
                                            <div    style = "display:flex;
                                                            justify-content:center;
                                                            align-items:center;">
                                                <button class="btn btn-primary" id="add_more_button1" style="background-color:mediumaquamarine;">Add New Items</button>
                                
                                            </div><br><br>
                                        <!-- end of item consumed clone fields display none --> 

                                                    
                                                    <div class="col-md-12 text-center mt-3">
                                                      <button class="btn btn-primary" style="background-color: mediumaquamarine; "><a href="{{ form.get_cancel_link }}" style="color:white;" >Back</a></button>
                                          {% comment %} <button type="button" class="btn btn-success" style="background-color: mediumaquamarine; color:white;" onclick="submitForm()" >Save</button> {% endcomment %}
                                                    <input type="submit" class="btn btn-primary" style="background-color:mediumaquamarine ; color:white;" value="Save">
                                                    </div>
                                                </div>
                                            </form>
                                         </div>
                                        </div>
                                    </div>
                                </div>    
                <!-- table -->
                <div class="card-body" style="margin-left: 20px;">
                    <div class="row" style="text-align: center;" >
                        <div class="col-md-11" >
                            <div class="table-responsive">
                                <table  class="display table table-hover table-striped table-bordered" >
                                    <thead>
                                        <tr style="text-align: center; background-color: lightcyan;">
                                            <th align="center">Sr.No</th>
                                            <th align="center">Date</th>
                                            <th align="center">Series</th>
                                            <th align="center">Vehicle No</th>
                                            <th align="center">Sale Type </th>
                                            <th align="center">Party</th> 
                                            
                                            <th align="center">Narration </th>
                                            <th align="center">Action</th>  
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in data %}
                                        <tr >
                                            <td >
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                {{ i.sl_voucher_date}}
                                            </td>
                                            <td>
                                                {{ i.sl_voucher_series }}
                                            </td>
                                             
                                            <td >
                                                {{ i.sl_vehicle_no }}
                                            </td>
                                            <td >
                                                {{ i.sl_voucher_sale_type }}
                                            </td> 
                                             
                                            <td >
                                              {{ i.sl_voucher_party }}
                                            </td> 
                                            <td >
                                                {{ i.sl_voucher_narration }}
                                            </td>    
                                                                                                                              
                                            <td>
                                                <div>
                                                    <a  href="/sale_voucher/{{i.id}}/"> <i class="bi bi-eye"></i></a>

                                                    <a  href="/delete_sale_voucher/{{i.id}}/"> <i class="bi bi-archive"></i></a>
                                                </div>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function calculateAmount() {
            var qty = parseFloat(document.getElementById('sl_voucher_qty_1').value) || 0;
            var price = parseFloat(document.getElementById('sl_voucher_price_1').value) || 0;
            

            var amount = qty * price;
            
            document.getElementById('sl_voucher_amount_1').value = amount.toFixed(2);
            

        }
    </script>
    
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }



        </script>

        <script>
          function submitForm() {
            // Submit the form using AJAX
            $.ajax({
              url: $('#profile-form').attr('action'),
              type: 'POST',
              data: $('#profile-form').serialize(),
              success: function(response) {
                // Show a success message using SweetAlert
                swal({
                  title: "Success!",
                  text: "Vouchers created Successfully",
                  icon: "success",
                  button: "OK",
                });
              },
              error: function(response) {
                // Show an error message using SweetAlert
                swal({
                  title: "Error!",
                  text: response.responseText,
                  icon: "error",
                  button: "OK",
                });
              }
            });
          }
        </script>

        <script>
            $(document).ready(function () {
                var max_fields_limit = 10;
                var x = 1;
        
                $('#add_more_button').click(function (e) {
                    e.preventDefault();
                    if (x < max_fields_limit) {
                        x++;
        
                        // Clone the template div
                        var newField = $('#template').clone();
        
                        // Update attributes and content with new values
                        newField.find('[name^="sl_voucher_item_name"]').attr('id', 'sl_voucher_item_name' + x).attr('name', 'sl_voucher_item_name' + x);
                        newField.find('[name^="sl_voucher_qty"]').attr('id', 'sl_voucher_qty' + x).attr('name', 'sl_voucher_qty' + x);
                        newField.find('[name^="sl_voucher_unit"]').attr('id', 'sl_voucher_unit' + x).attr('name', 'sl_voucher_unit' + x);
                        newField.find('[name^="sl_voucher_price"]').attr('id', 'sl_voucher_price' + x).attr('name', 'sl_voucher_price' + x);
                        newField.find('[name^="sl_voucher_amount"]').attr('id', 'sl_voucher_amount' + x).attr('name', 'sl_voucher_amount' + x);
        
                        // Append the cloned field to the container
                        $('.input_fields_container').append(newField.show());
                    }
                });
        
                $('.input_fields_container').on("click", ".remove_field", function (e) {
                    e.preventDefault();
                    $(this).closest('.clonable-field').remove();
                    x--;
                });
                $('.input_fields_container').on('input', '[name^="sl_voucher_qty"], [name^="sl_voucher_price"]', function () {
                    var qty = parseFloat($(this).closest('.clonable-field').find('[name^="sl_voucher_qty"]').val()) || 0;
                    var price = parseFloat($(this).closest('.clonable-field').find('[name^="sl_voucher_price"]').val()) || 0;
                    var amount = qty * price;
        
                    $(this).closest('.clonable-field').find('[name^="sl_voucher_amount"]').val(amount.toFixed(2));
                });
            });
        </script>


        <script>
            $(document).ready(function () {
                var max_fields_limit = 10;
                var x = 1;
        
                $('#add_more_button1').click(function (e) {
                    e.preventDefault();
                    if (x < max_fields_limit) {
                        x++;
        
                        // Clone the template div
                        var newField = $('#template1').clone();
        
                        // Update attributes and content with new values
                        
                        newField.find('[name^="sl_bill_sundries"]').attr('id', 'sl_bill_sundries' + x).attr('name', 'sl_bill_sundries' + x);
                        newField.find('[name^="sl_narration"]').attr('id', 'sl_narration' + x).attr('name', 'sl_narration' + x);
                        newField.find('[name^="sl_zero"]').attr('id', 'sl_zero' + x).attr('name', 'sl_zero' + x);
                        newField.find('[name^="sl_ammount"]').attr('id', 'sl_ammount' + x).attr('name', 'sl_ammount' + x);
        
                        // Append the cloned field to the container
                        $('.input_fields_container1').append(newField.show());
                    }
                });
        
                $('.input_fields_container1').on("click", ".remove_field", function (e) {
                    e.preventDefault();
                    $(this).closest('.clonable-field1').remove();
                    x--;
                });
                $('.input_fields_container1').on('input', '[name^="consumed_voucher_qty"], [name^="consumed_voucher_price"]', function () {
                    var qty = parseFloat($(this).closest('.clonable-field1').find('[name^="consumed_voucher_qty"]').val()) || 0;
                    var price = parseFloat($(this).closest('.clonable-field1').find('[name^="consumed_voucher_price"]').val()) || 0;
                    var amount = qty * price;
        
                    $(this).closest('.clonable-field1').find('[name^="sl_ammount"]').val(amount.toFixed(2));
                });
            });
        </script>
        

</body>  

{% endblock %}  